@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Work+Sans:wght@400;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.primary-btn {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border: 0;
}

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
}

/* Banner styles */
.banner-container {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}

.banner-description {
    color: #727272;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}



main {
    max-width: 1440px;
    margin: 70px 0px 130px 130px;
}

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.teams-content {
    padding-left: 70px;
    padding-right: 40px;
}

.teams-description {
    color: #727272;
    font-weight: 400;
}

.quick-list {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.of-our {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.features {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

/* features styles */
.features-container {
    margin-top: 130px;
    display: flex;
    gap: 50px;
}

.features-title {
    padding-left: 20px;
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
}

.card {
    margin-top: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 20px;
}

.features-img img {
    /* width: 708px; */
    height: 90%;
    margin-left: 90px;
}

.ten-years-badge {
    border-radius: 8px;
    background-color: #FF900E;
    text-align: center;
    width: 342px;
    padding: 40px;
    position: relative;
    bottom: 100px;
}

.ten-years-badge h3 {
    color: #FFF;
    font-size: 65px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

.ten-years-badge p {
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    margin-top: 0;
}

/* facts styles  */
.facts-container {
    margin-top: 150px;
    padding-right: 100px;
}

.facts-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0px;
}
.facts-description{
    margin-top: 24px;
    color: #727272;
}

.facts-card-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 60px;
}

.facts-card-box {
    width: 241px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 45px 35px;
}

.facts-card-box h2 {
    margin-top: 10px;
}

.facts-card-box p {
    margin-top: 5px;
    color: #727272;
}
/* sponsors styles */
.sponsors-content{
    text-align: center;
}
.sponsors-logo{
display: flex;
justify-content: space-around;
margin-top: 50px;
}



/* responsive styles */
@media screen and (max-width: 576px) {
    *{
        /* margin: 0px; */
    }

    nav,
    .teams-container,
    .features-container, .facts-card-container, .sponsors-logo {
        flex-direction: column;
        align-items: center;
    }

    header {
        padding: 20px;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    main {
        margin: 0px;
    }

    .teams-container {
        padding: 20px;
    }

    .features-img img {
        width: 100%;
        margin-left: 0px;
    }

    .ten-years-badge {
        /* width: 100%; */
        padding: 0px;
    }
    .facts-card-container {
        /* gap: 50px; */
        padding: 20px;
    }
    .facts-card-box {
        /* width: 219px; */
        padding: 20px 10px;
    }
    .facts-container {
        margin-top: 20px;
    }
    .facts-title {
        font-size: 2rem;
        font-weight: 700;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {

    nav,
    .teams-container {
        flex-direction: column;
    }

    header {
        padding: 50px;
    }

    .teams-img-container {
        grid-template-columns: 2fr;
    }

    main {
        margin: 0px;
    }

    .teams-container {
        padding: 20px;
    }
}