@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Work+Sans:wght@400;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.primary-btn {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border: 0;
}

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
}

/* Banner styles */
.banner-container {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}

.banner-description {
    color: #727272;
}
.banner img{
    margin-top: 20px;
    width: 100%;
}